.p-form{
    margin: 0 auto ;
    width:500px;
    @include mq(sm){
        width:100%;
    }
    &__item{
        margin-bottom:$space_l;
        display:block;
    }
    &__label{
        font-size:$font-size_l;
        color:$navy1;
    }
    &__item2{
        display:flex;
        align-items:center;
    }
    &__forget:hover{
        text-decoration:underline;
    }
}
