.p-test{
    &__title{
        font-size:$font-size_5l;
        margin:$space_4l 0 100px 0;
    }
    &__problem{
        font-size:$font-size_3l;
    }
    &__choice{
        display:block;
        font-size:$font-size_4l;
    }
    &__label{
        font-size: $font-size_xxl;
        display: inline-block;
        text-align: left;
        box-sizing: border-box;
    }
    &__err{
        background:rgba(240,0,0,0.8);
        color:$white;
        padding-left:$space_m;
        box-sizing:border-box;
    }
    &__result{
        font-size:$font-size_6l;
        text-align:center;
        margin-top:$space_5l;
        margin-bottom:$space_3l;
    }
}
