@import url(https://fonts.googleapis.com/css?family=Nunito);/*
// foundation
*/

a {
  text-decoration: none;
  color: #131834;
}

body {
  line-height: 1.6;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  height: 100%;
  background: #f5f2eb;
  color: #131834;
}

html {
  height: 100%;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
// layout
*/

.l-main {
  min-height: calc(100vh - 180px);
  padding: 20px;
  box-sizing: border-box;
}

@media screen and (max-width : 576px) {
  .l-main {
    padding: 5px;
    min-height: calc(100vh - 160px);
  }
}

.l-container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
  box-sizing: border-box;
}

@media screen and (max-width : 576px) {
  .l-container {
    max-width: 575px;
    padding: 0;
  }
}

@media screen and (max-width : 576px) and (max-width : 320px) {
  .l-container {
    max-width: 320px;
  }
}

#js-container {
  position: relative;
}

.l-header {
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.l-header__container {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width : 576px) {
  .l-header__container {
    justify-content: center;
  }
}

.l-header__title {
  box-sizing: border-box;
  font-size: 50px;
  display: flex;
  align-items: center;
}

@media screen and (max-width : 768px) {
  .l-header__title {
    font-size: 40px;
  }
}

@media screen and (max-width : 768px) and (max-width : 576px) {
  .l-header__title {
    font-size: 50px;
    padding-right: 15px;
  }
}

@media screen and (max-width : 768px) and (max-width : 576px) and (max-width : 320px) {
  .l-header__title {
    font-size: 40px;
  }
}

.l-header__titleLink {
  font-family: "Noto Sans", sans-serif;
}

.l-header__nav {
  display: flex;
  align-items: flex-end;
  padding-bottom: 5px;
}

@media screen and (max-width : 576px) {
  .l-header__nav {
    top: 0;
    right: -100%;
    transition: all 0.3s;
    display: block;
    overflow: scroll;
    z-index: 4;
    height: 100vh;
    width: 100vw;
    position: fixed;
    padding: 50px 15px;
    box-sizing: border-box;
  }

  .l-header__nav.js-active {
    display: block;
    transition: all 0.3s;
    transform: translateX(-100%);
  }
}

.l-header__navList {
  display: flex;
}

@media screen and (max-width : 768px) {
  .l-header__navList {
    margin-bottom: 15px;
    margin-left: 5px;
  }
}

@media screen and (max-width : 768px) and (max-width : 576px) {
  .l-header__navList {
    flex-direction: column;
    justify-content: center;
  }
}

.l-header__navItem {
  margin: 15px;
}

@media screen and (max-width : 768px) {
  .l-header__navItem {
    margin: 10px;
  }
}

@media screen and (max-width : 768px) and (max-width : 576px) {
  .l-header__navItem {
    margin: 40px 15px;
  }
}

.l-header__navLink {
  background: #131834;
  font-size: 16px;
  padding: 10px 30px;
  display: block;
  color: #FFFFFF;
  border-radius: 20px;
  transition: all 0.3s;
  opacity: 0.9;
}

.l-header__navLink:hover {
  color: #FFFFFF;
  transition: all 0.3s;
  opacity: 1;
}

@media screen and (max-width : 768px) {
  .l-header__navLink {
    font-size: 12px;
    padding: 5px;
  }
}

@media screen and (max-width : 768px) and (max-width : 576px) {
  .l-header__navLink {
    border: none;
    text-align: center;
    font-size: 30px;
  }
}

@media screen and (max-width : 768px) and (max-width : 576px) and (max-width : 320px) {
  .l-header__navLink {
    font-size: 24px;
  }
}

.l-header__hamburger {
  display: none;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  right: 5px;
  z-index: 4;
}

.l-header__hamburger span {
  width: 40px;
  height: 5px;
  display: block;
  position: absolute;
  left: 5px;
  transition: all 0.3s;
}

.l-header__hamburger span:nth-of-type(1) {
  top: 8px;
}

.l-header__hamburger span:nth-of-type(2) {
  top: 23px;
}

.l-header__hamburger span:nth-of-type(3) {
  top: 38px;
}

@media screen and (max-width : 576px) {
  .l-header__hamburger {
    display: block;
  }
}

.l-header__hamburger.js-active {
  position: fixed;
}

.l-header__hamburger.js-active span {
  transition: all 0.3s;
}

.l-header__hamburger.js-active span:nth-of-type(1) {
  transform: translateY(15px) rotate(-45deg);
}

.l-header__hamburger.js-active span:nth-of-type(2) {
  display: none;
}

.l-header__hamburger.js-active span:nth-of-type(3) {
  transform: translateY(-15px) rotate(45deg);
}

.l-footer {
  height: 80px;
  width: 100%;
}

@media screen and (max-width : 576px) {
  .l-footer {
    font-size: 14px;
    height: 60px;
  }
}

@media screen and (max-width : 576px) and (max-width : 320px) {
  .l-footer {
    font-size: 12px;
  }
}

.l-footer br {
  display: none;
}

.l-footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
//object
*/

.c-input {
  display: block;
  height: 50px;
  font-size: 18px;
  margin-top: 5px;
  width: 100%;
  outline: 0;
  border: none;
  border-bottom: 1px solid #131834;
  padding: 5px 20px;
  box-sizing: border-box;
}

.c-input__error {
  padding-top: 10px;
  color: #e3342f;
  display: block;
}

.c-input.is-invalid {
  border: 1px solid red;
}

.c-input2 {
  border: none;
  height: 18px;
  width: 18px;
  margin: 0;
  vertical-align: bottom;
}

.c-input2__text {
  vertical-align: bottom;
}

.c-heading {
  font-size: 24px;
  padding: 10px 0 0 0;
  margin-bottom: 20px;
  font-weight: bold;
}

@media screen and (max-width : 576px) {
  .c-heading {
    margin-bottom: 15px;
  }
}

.c-heading__sub {
  font-size: 18px;
  margin-bottom: 10px;
  color: #131834;
}

.c-heading__sub2 {
  color: #FFFFFF;
  font-size: 24px;
  margin-bottom: 15px;
}

.c-heading__sub3 {
  font-size: 18px;
}

.c-btn {
  width: 250px;
  display: block;
  font-size: 16px;
  outline: 0;
  color: #FFFFFF;
  background: #131834;
  border: 1px solid #FFFFFF;
  padding: 10px;
  margin: 20px auto;
  box-sizing: border-box;
  border-radius: 3px;
  transition: all 0.3s;
  opacity: 0.9;
  cursor: pointer;
}

.c-btn__login {
  margin-top: 20px;
}

.c-btn__login:hover {
  opacity: 1;
  transition: all 0.3s;
}

.c-btn__twitter {
  background: #2cacf3;
  display: block;
  border: none;
  border-radius: 10px;
  opacity: 0.9;
}

.c-btn__twitter:hover {
  opacity: 1;
}

.c-btn__twitter:disabled {
  background: firebrick;
  opacity: 1;
  cursor: auto;
}

.c-btn__follow {
  width: 100px;
  padding: 5px;
}

.c-btn__follow--all {
  width: 200px;
  padding: 0;
}

.c-btn__trend {
  background: #FFFFFF;
  outline: 0;
  margin: 0 5px;
  font-size: 16px;
  color: #FFFFFF;
  transition: 0.5s all;
  border: 1px solid #FFFFFF;
  padding: 5px;
  width: 200px;
  cursor: pointer;
}

@media screen and (max-width : 576px) {
  .c-btn__trend {
    width: 100%;
    margin: 0 0 5px 0;
  }
}

.c-btn__trend--select {
  background: #FFFFFF;
  color: #FFFFFF;
}

.c-btn__link {
  margin-top: 70px;
}

.c-btn__register {
  margin-top: 50px;
}

.p-form {
  margin: 0 auto;
  width: 500px;
}

@media screen and (max-width : 576px) {
  .p-form {
    width: 100%;
  }
}

.p-form__item {
  margin-bottom: 15px;
  display: block;
}

.p-form__label {
  font-size: 18px;
  color: #131834;
}

.p-form__item2 {
  display: flex;
  align-items: center;
}

.p-form__forget:hover {
  text-decoration: underline;
}

.p-top {
  max-width: 980px;
  margin: 0 auto;
  display: flex;
}

.p-top__title {
  width: 40%;
  line-height: 3;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p-top__txt {
  font-size: 30px;
  text-align: center;
}

.p-top__link {
  font-size: 20px;
  text-align: center;
  background: #131834;
  color: #FFFFFF;
  border-radius: 30px;
}

.p-top__img {
  width: 60%;
}

.p-home {
  display: flex;
  margin-right: -100px;
}

.p-home__block {
  width: calc(33.333% - 100px);
  margin-right: 100px;
  height: 300px;
  border-radius: 30px;
  background: #131834;
}

.p-home__link {
  color: #FFFFFF;
  line-height: 300px;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 20px;
}

.p-home__link:hover {
  text-decoration: underline;
}

.p-make {
  text-align: center;
}

.p-make__txt {
  display: inline-block;
  text-align: left;
  font-size: 20px;
  line-height: 3;
}

.p-make__subject {
  font-size: 30px;
  margin: 50px;
  padding: 10px;
  box-sizing: border-box;
  width: 50%;
  text-align: center;
}

.p-make__block {
  width: 40%;
  margin: 0 auto;
  display: block;
  text-align: left;
}

.p-make__block input[type=text] {
  font-size: 30px;
  display: block;
  padding: 5px;
}

.p-make__block input[type=radio] {
  width: 20px;
  height: 20px;
}

.p-make__label {
  font-size: 30px;
  width: 40%;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}

.p-make__problem {
  width: 100%;
}

.p-make__choice {
  width: 50%;
}

.p-make__answerCon {
  display: block;
  font-size: 24px;
}

.p-make__err {
  background: rgba(240, 0, 0, 0.8);
  color: #FFFFFF;
  font-size: 20px;
}

.p-list {
  display: flex;
  margin-right: -10px;
  flex-wrap: wrap;
}

.p-list__block {
  width: calc(33.33333% - 10px);
  margin-right: 10px;
  margin-bottom: 30px;
  padding: 15px;
  box-sizing: border-box;
  background: #131834;
  color: #FFFFFF;
  position: relative;
}

.p-list__block:hover {
  background: rgba(19, 24, 52, 0.9);
}

.p-list__label {
  display: block;
}

.p-list__subject {
  text-align: center;
}

.p-list__icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.p-detail {
  border-bottom: 1px solid #131834;
  padding: 10px;
  width: 70%;
  margin: 0 auto;
}

.p-detail__problem {
  font-size: 20px;
}

.p-detail__choice--txt {
  display: inline-block;
  padding: 10px;
}

.p-detail__subject {
  font-size: 30px;
}

.p-detail__answer {
  text-align: right;
  padding: 10px;
}

.p-detail__container {
  display: block;
  width: 70%;
  margin: 0 auto 30px auto;
  font-size: 20px;
}

.p-detail__link {
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

.p-test__title {
  font-size: 50px;
  margin: 40px 0 100px 0;
}

.p-test__problem {
  font-size: 30px;
}

.p-test__choice {
  display: block;
  font-size: 40px;
}

.p-test__label {
  font-size: 24px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}

.p-test__err {
  background: rgba(240, 0, 0, 0.8);
  color: #FFFFFF;
  padding-left: 10px;
  box-sizing: border-box;
}

.p-test__result {
  font-size: 60px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.u-center {
  text-align: center;
}

