$breakpoints : (
    'xl' : 'screen and (min-width : 1200px)',
    'lg' : 'screen and (min-width : 992px)',
    'md' : 'screen and (max-width : 768px)',
    'sm' : 'screen and (max-width : 576px)',
    'xs' : 'screen and (max-width : 320px)',
)!default;

@mixin mq($breakpoint : md){
    @media #{map-get($breakpoints,$breakpoint)}{
        @content;
    }
}
